<ion-header>
  <ion-navbar>
    <ion-title>SignUp App</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list [hidden]="isDone">
    
      <ion-item>
        <ion-label floating>First Name</ion-label>
        <ion-input type="text" [(ngModel)]="fname" required></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label floating>Last Name</ion-label>
        <ion-input type="text" [(ngModel)]="lname" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input type="text" [(ngModel)]="email" pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Mobile No.</ion-label>
        <ion-input type="text" [(ngModel)]="phone" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Address</ion-label>
        <ion-input type="text" [(ngModel)]="address" required></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label floating>State</ion-label>
        <ion-input type="text" [(ngModel)]="state" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>City</ion-label>
        <ion-input type="text" [(ngModel)]="city" required></ion-input>
      </ion-item>
      
      <ion-item>
        <h3 class="padding-t-10">Profile Picture</h3>
      <ion-buttons>
        <button ion-button icon-left (click)="presentActionSheet()">
          <ion-icon name="camera"></ion-icon> Image
        </button>
        <button ion-button icon-left (click)="uploadImage()" [disabled]="lastImage === null">
          <ion-icon name="cloud-upload">Upload</ion-icon>
        </button>
      </ion-buttons>
      </ion-item>

      <ion-item>
          <h3 class="padding-t-10">Upload Resume (Only *.docs)</h3>
        <ion-buttons>
          <button ion-button icon-left (click)="presentResumeActionSheet()">
            <ion-icon name="attach"></ion-icon> Resume
          </button>
          <button ion-button icon-left (click)="uploadResume()" [disabled]="resume === null">
            <ion-icon name="cloud-upload">Upload</ion-icon>
          </button>
        </ion-buttons>
      </ion-item>

      <ion-item>
        <button ion-button (click)="register()" class="signupbtn">Sign Up</button>
      </ion-item>

    </ion-list>
    <ion-list [hidden]="!isDone">
      <h3>Welcome To Signup App</h3>
        <p>Hi {{fname}} {{lname}},</p>
        <p>Your Information is been stored with us.</p>
        <p>Your Picture : </p>
        <p><img src="{{profilepicsrc}}" class="profilepic" alt="---Profile Pic Loading Failed---"></p>
        <p>Download Resume: <a href="{{resumelink}}">Click Here</a></p>
        <p>Thanks for your Interest.</p>
        <p><b>Regards <br />SignUp App</b></p>
    </ion-list>
</ion-content>
